{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {{ include('partials/_admin_nav.html.twig') }}
        <main class="col-9 border border-light bg-white p-2">
        <h1>Liste des utilisateurs</h1>

        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Email</td>
                    <td>Rôle</td>
                    <td>Vérifié</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastname}}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% set rolesName = user.getRolesName() %}
                        {% for role in rolesName %}
                            <span class="badge bg-{{ role.color }}">{{ role.name }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" data-changeVerified data-ajax="{{ path('admin_users_edit_verif', {id: user.id}) }}" data-token="{{ csrf_token('post' ~ user.id) }}" id="switch{{ user.id }}" {{ user.isVerified  ? 'checked' : '' }}>
                            <label class="form-check-label" for="switch{{ user.id }}"></label>
                        </div>
                    </td>
                    <td><a class="btn btn-primary" href="{{ path('admin_users_edit', {'id': user.id}) }}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </main>
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/users.js') }}" defer></script>
{% endblock %}