{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie
	{{ category.name }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Liste des produits de la catégorie
					{{ category.name }}</h1>
			</div>
			{% if products.data  is defined %}

				{% for product in products.data %}
					<div class="col-3 mb-3">
						<article class="card h-100">
							<div class="card-body">
								<h2 class="card-title">{{ product.name }}</h2>
								<p class="card-text">{{ product.description }}</p>
								<a href="{{ path('products_details', {"slug": product.slug})}}" class="btn btn-primary">Voir le détail</a>
							</div>
						</article>
					</div>
				{% endfor %}

				{% set path = 'categories_list' %}
				{% set slug = category.slug %}
				{% set nbp = products.nbp %}
				{% set currentPage = products.currentPage %}

				{{ include('partials/_pagination.html.twig') }}
            {% else %}
                La catégorie n'a pas de produit
			{% endif %}

		</section>
	</main>
{% endblock %}
