{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {{ include('partials/_admin_nav.html.twig') }}
        <main class="col-9 border border-light bg-white p-2">
        <h1>Liste des catégories</h1>

        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Titre</td>
                    <td>Parent</td>
                    <td>Slug</td>
                    <td>Ordre</td>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td>{{ categorie.name }}</td>
                        <td>
                            {% if categorie.parent is not null %}
                                {{ categorie.parent.name }}
                            {% endif %}
                        </td>
                        <td>{{ categorie.slug }}</td>
                        <td>{{ categorie.categoryOrder }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </main>
    </div>
</div>
    
{% endblock %}